<!DOCTYPE html>
<html>
<head>
    <title>Uketuke Home</title>
</head>
<body>
    <h2>Welcome to the Uketuke Home</h2>
    <ul>
        <li><a href="{% url 'logout_view' %}">ログアウト</a></li>
        <li><a href="{% url 'change_employee_password' %}">従業員パスワード変更</a></li>
        <li><a href="{% url 'register_patient' %}">患者登録機能</a></li>
        <li><a href="{% url 'change_patient_insurance' %}">患者保険証変更機能</a></li>
        <li><a href="{% url 'change_password' %}">パスワード変更</a></li><li><a href="{% url 'search_patient_by_name' %}">パスワード変更機能</a></li>

    </ul>
</body>
</html>